packages:
  files:
    "/etc/varnish/default.vcl":
      mode: "000644"
      owner: root
      group: root
      source: https://s3-us-west-2.amazonaws.com/batserver-deploy/varnishConfig.vcl
services:
  sysvinit:
    varnish:
      enabled: true
      ensureRunning: true
      packages:
        yum:
          varnish: []
    memcached:
      enabled: true
      ensureRunning: true
      packages:
        yum:
          memcached: []
packages:
  yum:
    libmemcached: []
    ruby-devel: []
    gcc: []
    git: []
    varnish: []
    memcached: []
  rpm:
    forever: []
